<header class="navigation">
  <div class="navigation-wrapper">
    <a href="index.html" class="logo">
      <img src="images/logo-negative.svg" alt="Mutirão">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="#objetivos">Objetivos</a></li>
        <li class="nav-link"><a href="#cases">Cases</a></li>
        <li class="nav-link"><a href="#clientes">Clientes</a></li>
        <!-- <li class="nav-link"><a href="#depoimentos">Depoimentos</a></li> -->
        <li class="nav-link"><a href="#software-livre">Software Livre</a></li>
        <li class="nav-link"><a href="#na-midia">Na Mídia</a></li>
        <!--li class="nav-link"><a href="#equipe">Equipe</a></li-->
      </ul>
    </div>
  </div>
</header>
