#equipe {
  background-color: #7F3F97;
  padding: 4em 0;

  .grid-item {
    padding: 0;
    background-color: #7F3F97;
    color: #fff;
    border-color: #fff;
    border: 0;
    height: 15em;

    h1,p {
      color: #fff;
    }

    img {
      height: auto;
      opacity: 1;
    }

    .description {
      margin: .5em 2em;
    }
  }
  .call-to-action {
    margin: 20px 0 0;
    text-align: center;
  }

  h2 {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    margin-bottom: 60px;
  }
}
