.footer {
  $footer-background: desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: #F1F1F1;
  padding: $base-spacing*2 $gutter;
  width: 100%;

  .footer-logo {
    text-align: center;
    margin-bottom: 2em;

    img {
      height: 3em;
    }
  }

  .footer-links {
    @include clearfix;
    margin-bottom: $base-spacing;
    // @include media($medium-screen) {
    //   @include shift(3);
    // }
  }

  ul {
    width: 135px;
    margin: 0 auto;


    // @include media($medium-screen) {
    //   @include span-columns(3);
    //   @include omega(3n);
    //   @include clearfix;
    // }

    li {
      a {
        color: #000;
      }
    }
  }

  hr {
    border: 1px solid transparentize(#000, .3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: #000;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
